body{
	display: flex;
	margin: 0px;
	background-image: url("../images/login_bg.jpg");
	background-size: cover;
	background-repeat: no-repeat;
}
.maincontainer{
	
	margin-top: 10%;
}
.bgdiv{
	display: flex;
	justify-content: center;
}
.bgdiv img{
	height: 100%;
}
.logindiv{
	flex: 1;
	display: flex;
	justify-content: center;
	background: none;
}
.inputsection div{
	display: flex;
	justify-content: center;
	padding:10px;
}
.headlogin{
	display: flex;
	justify-content: center;
}
.loginfoot{
	text-align: center;
}
.box{
	background: white;
	padding: 20px;
	border-radius: 10px;
}
.headlogin h1{
	color: #480568;
	letter-spacing: 10px;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 30px;
}
.headlogin h3{
	color: #065380;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-size: bold;
}
.inputsection input[type="text"], .inputsection input[type="password"]{
	padding: 5px;
	width: 300px;
	border-radius: 10px;
	text-align: center;
	border: 1px solid black;
	border-style: inset;
}
.inputsection input[type="submit"]{
	width: 200px;
	padding: 8px;
	border-radius: 10px;
	border: none;
	font-size: 18px;
}
.inputsection input[type="submit"]:hover{
	background: #57D663;
	cursor: pointer;
}
.error{
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    border-radius: 5px;
    margin: 20px auto; 
}
.error span, .success span{
	margin-left: 15px;
	color: black;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}
.error p, .success p{
	margin-bottom: 0;
}
.success{
	background: #D2F6B9;
	color: #49851F;
	padding: 10px;
	border-radius: 5px;
	margin: 20px auto; 
}
.info{
    font-size: 10px;
    padding: 0;
    margin: 0;
}
